*.spec
__pycache__/
dist/
build/
Firefly-Launcher/

.idea/
.vs/
.vscode/
.pytest_cache/
venv/

server/
tool/
temp/
src/audio/

devkit/data/output/
devkit/translate/*.qm
devkit/translate/*.ts

auto.json
mycommand.txt